NODE_ENV="YOUR_NODE_ENV"

DATABASE_URL="YOUR_POSTGRES_DATABASE_URL"
JWT_SECRET="YOUR_JWT_SECRET"

CLOUDFLARE_R2_ACCOUNT_ID="YOUR_CLOUDFLARE_R2_ACCOUNT_ID"
CLOUDFLARE_R2_TOKEN="YOUR_CLOUDFLARE_R2_TOKEN"
CLOUDFLARE_R2_ACCESS_ID="YOUR_CLOUDFLARE_R2_ACCESS_ID"
CLOUDFLARE_R2_SECRET_KEY="YOUR_CLOUDFLARE_R2_SECRET_KEY"

NEXT_PUBLIC_CLOUDFLARE_R2_BUCKET="YOUR_CLOUDFLARE_R2_BUCKET"
NEXT_PUBLIC_CLOUDFLARE_R2_DOMAIN="YOUR_CLOUDFLARE_R2_DOMAIN"
NEXT_PUBLIC_CLOUDFLARE_R2_ENDPOINT="YOUR_CLOUDFLARE_R2_ENDPOINT"

NEXT_PUBLIC_SITE_URL="YOUR_PRODUCTION_SITE_URL"
RESEND_PRIVATE_KEY="YOUR_RESEND_PRIVATE_KEY"

NEXT_PUBLIC_UMAMI_SCRIPT_URL="YOUR_UMAMI_SCRIPT_URL"
NEXT_PUBLIC_UMAMI_WEBSITE_ID="YOUR_UMAMI_WEBSITE_ID"